<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estrella_Accesorios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Estrella_Accesorios.My.MySettings>
            <setting name="UltimoLogin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>D:\Mis Cosas\Programación\Visual Basic\Estrella Accesorios\Estrella Accesorios\Estrella Accesorios.mdb</value>
            </setting>
            <setting name="Uid" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>aaoem</value>
            </setting>
            <setting name="Arch_Intercambio" serializeAs="String">
                <value>D:\Mis Cosas\Programación\Visual Basic\Estrella Accesorios\Estrella Accesorios\Importar.mdb</value>
            </setting>
            <setting name="Dias_Aviso" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Color0" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Com" serializeAs="String">
                <value />
            </setting>
        </Estrella_Accesorios.My.MySettings>
    </userSettings>
</configuration>